header {
  background-image: url("https://cfeincws.com/wp-content/uploads/2018/10/IMG_9441-1.jpg");
  /* background-position: center; */
  background-size: cover;
  height: 10vh;
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

div {
  border: solid black 2px;
  text-align: center;
  padding: 1em;
}

h1 {
  background: yellow;
  border: solid black 2px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1.5em;
  cursor: pointer;
  border: solid black 2px;
  background: yellow;
}

li:hover {
  background: orange;
}

#furniture-edit-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr)
}

label {
  margin-right: 1em;
  text-align: right;
  background: yellow;
}

footer {
  background-image: url("https://cfeincws.com/wp-content/uploads/2018/10/IMG_9441-1.jpg");
  background-position: bottom;
  background-size: cover;
  padding: 1em;
  min-height: 10vh;
  text-align: center;
  width: 100%;
}

footer span {
  background: yellow;
}
